@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./partials/variables";
@import "./partials/general";
@import "./partials/header";
@import "./partials/main";
@import "./partials/cheffs";
@import "./partials/nosotros";
@import "./partials/recetas";
@import "./partials/contacto";
@import "./partials/footer";
@import "./partials/mediaQueries";