/*-----------------
GENERAL
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*-----------------
VARIABLES
-----------------*/
$color-basic: black;
$color-background:white;
$color-brand:rgb(0, 153, 187);
$icon-magenta:rgb(0, 176, 216);
$icon-star-full:rgb(253, 226, 72);
$color-reviews:rgb(182, 134, 12);
$color-inactive:rgb(202, 202, 202);
$color-bg-grey:rgb(200, 200, 200);
$color-bg-grey-white:rgb(245, 245, 245);
$color-web:rgb(0,0,255);
$color-instagram:rgb(255,0,255);
$color-fb:rgb(10,100,255);
$color-golden:goldenrod;

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:$color-background;
    color:$color-basic;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-size:16px;
    margin:10px;
}

p{
    line-height: 1.8;
    margin:0;
    text-align:justify;
}

a {
    color:$color-basic;
    text-decoration:none;
}

h3, h2{
    font-weight:bold;
    margin:0;
}

h1{
    font-size:24px;
    margin:0;
    font-weight:bold;
}

/*-----------------
HEADER
-----------------*/
header {
    z-index:1;
    position:sticky;
    top:0px;
    background-color:$color-background;
    font-weight:bold;
}


.container-fluid{
    a{
        display:flex;
        align-items:center;
    }
}

.container-fluid{
    ul{
        li{
            list-style:none;
        }
    }
}

.container-fluid{
    .ia__navMenu{
        justify-content:flex-end;
    }
}

.ia__navMenu{
    ul{
        display:flex;
        margin:0;
    }
}

.ia__navMenu{
    li{
        padding:0 20px;
        font-size:24px;
    }
}

.ia__blue {
    color:$color-brand;
}

.ia__headerHr {
    margin-top:10px;
    border:1px solid $color-basic;
}

/*-----------------
MAIN
-----------------*/
main {
    padding:0px 20px;
}

/* Carousel */
.ia__carousel{
    overflow:hidden;
}

/* Restaurants */
.ia__containerRestaurant{
    background-color: $color-bg-grey-white;
    box-shadow:3px 3px $color-bg-grey;
    margin-top:20px;
    padding:20px 20px;
    border-radius:2%;
}

.ia__containerRestaurant-col1{
    font-size:20px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.ia__containerRestaurant-col1{
    div{
        padding-top:20px;
    }
}

.ia__containerRestaurant-col1{
    img{
        border-radius: 5%;
    }
}

.ia__containerRestaurant-reviews{
    p{
        display:inline-block;
        font-weight:bold;
        color:$color-reviews;
    }
}

.ia__containerRestaurant-col2{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.ia__containerRestaurant-recomendados{
    div{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
    }
}

.ia__containerRestaurant-recomendados{
    div{
        img{
            border-radius:5%;
            width:150px;
            height:100px;
            margin:5px;
        }
    }
}

.fa-star, .fa-star-half-stroke {
    color:$icon-star-full;
}

.noStar {
    color:transparent;
}

.fa-dollar-sign{
    font-weight:bold;
}

.full {
    color:$color-brand;
}

.empty {
    color:$color-inactive;
}

.fa-link{
    color:$color-web;
}

.fa-instagram {
    color:$color-instagram;
    font-weight: bold;
}

.fa-facebook {
    color:$color-fb;
}

/* Cheffs */
.ia__containerCheff-row{
    justify-content: center;
}

.ia__containerCheff{
    background-color: $color-bg-grey-white;
    box-shadow:3px 3px $color-bg-grey;
    margin:10px 20px;
    padding:20px 20px;
    border-radius:2%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.ia__containerCheff{
    img{
        width:80%;
        height:56%;
        align-self:center;
        border-radius: 3%;
        margin-bottom:20px;
    }
}

.ia__containerCheff img, .ia__containerCheff div{
    margin-bottom:10px;
}

.ia__cheffsCards{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.ia__cardBody{
    ul{
        padding:0;
    }
}

.cheffFoto {
    grid-row:span 2;
    display:flex;
    justify-content:center;
    padding:10px;
    width:210px;
    height:290px;
}

.cheffFoto{
    img{
        border-radius:3%;
    }
}

.div1 {
    display:inline-block;
    margin-right:40px;
}

.active {
    color:$color-basic;
    font-weight:bold;
    list-style:none;
}

.inactive {
    color:$color-inactive;
}

/* Nosotros */
article {
    text-align:justify;
    padding:10px 0;
}

article{
    h2{
        padding-bottom:10px;
    }
}

article{
    p{
        padding:10px 0px;
    }
}

.cardSection {
    display:flex;
    justify-content:space-between;
    padding:20px;
}

.ia__card {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
}

.iconMagenta {
    font-size:100px;
    color:$icon-magenta;
    padding-bottom:10px;
}

.textMagenta{
    color:$color-brand;
    text-align:center;
}

/* Recetas */
.receta{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.receta{
    h2{
        grid-column:span 4;
    }
}

.ingredientes{
    padding-left:30px;
}

.ingredientes{
    li{
        list-style:none;
    }
}

.fotosReceta{
    grid-column:span 4;
    display:flex;
    justify-content:space-between;
}

.fotosReceta{
    img{
        width:200px;
        height:120px;
        border-radius:3%;
        margin:10px 20px 10px 0;
    }
}

.video{
    grid-column:span 2;
}

video {
   width:600px;
   height:360px;
}

.ingredientes{
    li{
        padding-top:10px;
    }
}

.videoHr {
    grid-column:span 4;
    border:1px solid $color-brand;
    background-color:$color-brand;
    margin:10px 0 40px;;
}

/* Contacto */
.formMap{
    display:flex;
    justify-content:space-evenly;
    padding:20px;
}

form {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-right:50px;
}

label {
    display:block;
    font-weight: bold;
}

input, textarea{
    border:1px solid $icon-magenta;
}

.buttons {
    padding:5px;
}

input[type="submit"] {
    background-color: $color-brand;
    color:$color-background;
    border-radius: 10%;
    padding:5px 20px;
}

input[type="reset"] {
    background-color: $color-bg-grey;
    color:$color-background;
    border:1px solid $color-bg-grey;
    border-radius: 10%;
    padding:5px 20px;
}

.cardContact {
    width:20%;
}

.sedes{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.sedes{
    h2{
        grid-column:span 2;
    }
}

.sedeMedellin, .sedeBogota {
    margin:30px;
    display:inline-block;
    margin:30px;
    text-align:center;
}

.sedes{
    p{
        text-align:center;
    }
}

.sedes{
    img{
        width: 350px;
        height:207px;
        border-radius:3%;
    }
}

.sedeHr{
    border:1px solid $color-brand;
    background-color:$color-brand;
    margin-left:0px;
}

/*-----------------
FOOTER
-----------------*/
footer {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

    margin:0 20px;
    background-color:$color-brand;
    padding:0px 20px;
    color:$color-background;
}

.footerBlock {
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    padding:20px;
}

.footerBlock{
    li{
        padding:10px 0;
        list-style:none;
    }
}

.sedeFooter {
    padding:10px 0;
}

.copyright{
    padding:20px 0;
    text-align:center;
    grid-column:span 3;
}

footer{
    a{
        color:$color-background;
        font-size:16px;
    }
}

.footerHr {
    border:2px solid $color-golden;
    background-color: $color-golden;
    margin:10px 0 0 0;
}

/*-----------------
MEDIA QUERIES
-----------------*/
@media screen and (max-width:1191px){
    .ia__containerRestaurant-recomendados img:last-child, .ia__containerRestaurant-recomendados img:first-child{
        display:none;
    }
}

@media screen and (max-width:767px){
    .ia__containerRestaurant-col2{
        order:-1;
        margin-bottom:20px;
    }

    .ia__containerRestaurant-recomendados{
        display:none;
    }
}
/* nuevos hasta aqui */

@media screen and (max-width:1300px){
    video, .video{
        width:500px;
        height:250px;
    }
}

@media screen and (max-width:1130px){
    .dishes{
        img{
            width:150px;
            height:97.5px;
        }
    }

    .mainFoto {
        grid-row:1;
    }

    .rankingSocial{
        grid-column:span 5;
    }
}

@media screen and (max-width:1000px){
    header{
        grid-template-columns:10% 90%;
    }
}

@media screen and (max-width:991px){
    .ia__navMenu{
        ul{
            flex-direction: column;
            align-items:flex-end;
        }
    }
}

@media screen and (max-width:890px){
    .dishes{
        img:last-child{
            display:none;
        }
    }

    .fotosReceta{
        img:last-child{
            display:none;
        }
    }

    .sedes{
        img{
            width:300px;
            height:180px;
        }
    }

    .sedeFooter{
        font-size:10px;
    }
}

@media screen and (max-width:782px){
    header{
        nav{
            font-size:20px;
        }
    }
    
    .mainFoto{
        grid-column:span 4;
        justify-content: center;
        grid-row:2;
    }

    .mainFoto{
        img{
            width:600px;
            height:360px;
        }
    }

    .restaurantInfo{
        grid-column:span 4;
        grid-row:1;
    }

    .sedes{
        img{
            width:250px;
            height:150px;
        }
    }

    .dishes{
        img:nth-child(4){
            display:none;
        }
    }

    .textMagenta{
        display:none;
    }
}

@media screen and (max-width:720px){
    .mainFoto{
        img{
            width:400px;
            height:240px;
        }
    }

    video, .video{
        grid-column-start:2;
    }

    .ingredientes{
        display:none;
    }

    .fotosReceta{
        display:none;
    }
}

@media screen and (max-width:685px){
    header{
        nav{
            font-size:15px;
        }
    }

    .formMap{
        display:block;
    }
    
    iframe{
        width:300px;
        height:300px;
    }

    .sedes{
        display:block;
        text-align:center;
    }
    
    .sedes{
        img{
            width: 350px;
            height:207px;
        }
    }
    .iconMagenta{
        font-size:50px;
    }    
}

@media screen and (max-width:600px){
    video, .video{
        width:300px;
        height:150px;
    }
    .cheffInfo{
        grid-column:span 4;
    }

    .cheffFoto{
        grid-column-start:2;
    }

    .rankingSocial{
        div:last-child{
            display:none;
        }
    }

    .reviews{
        padding:10px 0;
    }

    .cheffFoto{
        grid-row:2;
    }

    .dishes{
        div{
            flex-direction:column;
            align-items:center;
        }
    }

    .dishes{
        div{
            img{
                margin-top:10px;
                width:400px;
                height:240px;
            }
        }
    }
}

@media screen and (max-width:510px){
    .mainFoto img, .dishes div img{
        width:300px;
        height:180px;
    }

    .restaurant{
        i{
            font-size:15px;
        }
    }
    
    .footerBlock{
        grid-column:span 3;
    }

    .sedes{
        img{
            width: 300px;
            height:180px;
        }
    }
}

@media screen and (max-width:410px){
    .mainFoto img, .dishes div img{
        width:200px;
        height:120px;
    }

    .sedes{
        img{
            width: 200px;
            height:120px;
        }
    }

    iframe{
        width:200px;
        height:200px;
    }
    .copyright{
        font-size:10px;
    }

    .video, video{
        width:200px;
        height:150px;
    }
}