/*-----------------
GENERAL
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./partials/variables";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:$color-background;
    color:$color-basic;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-size:16px;
    margin:10px;
}

p{
    line-height: 1.8;
    margin:0;
    text-align:justify;
}

a {
    color:$color-basic;
    text-decoration:none;
}

h3, h2{
    font-weight:bold;
    margin:0;
}

h1{
    font-size:24px;
    margin:0;
    font-weight:bold;
}

/*-----------------
HEADER
-----------------*/
header {
    z-index:1;
    position:sticky;
    top:0px;
    background-color:$color-background;
    font-weight:bold;
}


.container-fluid{
    a{
        display:flex;
        align-items:center;
    }
}

.container-fluid{
    ul{
        li{
            list-style:none;
        }
    }
}

.container-fluid{
    .ia__navMenu{
        justify-content:flex-end;
    }
}

.ia__navMenu{
    ul{
        display:flex;
        margin:0;
    }
}

.ia__navMenu{
    li{
        padding:0 20px;
        font-size:24px;
    }
}

.ia__blue {
    color:$color-brand;
}

.ia__headerHr {
    margin-top:10px;
    border:1px solid $color-basic;
}

/*-----------------
MAIN
-----------------*/
main {
    padding:0px 20px;
}

/* Carousel */
.ia__carousel{
    overflow:hidden;
}

/* Restaurants */
.ia__containerRestaurant{
    background-color: $color-bg-grey-white;
    box-shadow:3px 3px $color-bg-grey;
    margin-top:20px;
    padding:20px 20px;
    border-radius:2%;
}

.ia__containerRestaurant-col1{
    font-size:20px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.ia__containerRestaurant-col1{
    div{
        padding-top:20px;
    }
}

.ia__containerRestaurant-col1{
    img{
        border-radius: 5%;
    }
}

.ia__containerRestaurant-reviews{
    p{
        display:inline-block;
        font-weight:bold;
        color:$color-reviews;
    }
}

.ia__containerRestaurant-col2{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.ia__containerRestaurant-recomendados{
    div{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
    }
}

.ia__containerRestaurant-recomendados{
    div{
        img{
            border-radius:5%;
            width:150px;
            height:100px;
            margin:5px;
        }
    }
}

.fa-star, .fa-star-half-stroke {
    color:$icon-star-full;
}

.noStar {
    color:transparent;
}

.fa-dollar-sign{
    font-weight:bold;
}

.full {
    color:$color-brand;
}

.empty {
    color:$color-inactive;
}

.fa-link{
    color:$color-web;
}

.fa-instagram {
    color:$color-instagram;
    font-weight: bold;
}

.fa-facebook {
    color:$color-fb;
}

/* Cheffs */
.ia__containerCheff-row{
    justify-content: center;
}

.ia__containerCheff{
    background-color: $color-bg-grey-white;
    box-shadow:3px 3px $color-bg-grey;
    margin:10px 20px;
    padding:20px 20px;
    border-radius:2%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.ia__containerCheff{
    img{
        width:80%;
        height:56%;
        align-self:center;
        border-radius: 3%;
        margin-bottom:20px;
    }
}

.ia__containerCheff img, .ia__containerCheff div{
    margin-bottom:10px;
}

.ia__cheffsCards{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.ia__cardBody{
    ul{
        padding:0;
    }
}

.cheffFoto {
    grid-row:span 2;
    display:flex;
    justify-content:center;
    padding:10px;
    width:210px;
    height:290px;
}

.cheffFoto{
    img{
        border-radius:3%;
    }
}

.div1 {
    display:inline-block;
    margin-right:40px;
}

.active {
    color:$color-basic;
    font-weight:bold;
    list-style:none;
}

.inactive {
    color:$color-inactive;
}

/* Nosotros */
article {
    text-align:justify;
    padding:10px 0;
}

article{
    h2{
        padding-bottom:10px;
    }
}

article{
    p{
        padding:10px 0px;
    }
}

.cardSection {
    display:flex;
    justify-content:space-between;
    padding:20px;
}

.ia__card {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
}

.iconMagenta {
    font-size:100px;
    color:$icon-magenta;
    padding-bottom:10px;
}

.textMagenta{
    color:$color-brand;
    text-align:center;
}

/* Recetas */
.receta{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.receta{
    h2{
        grid-column:span 4;
    }
}

.ingredientes{
    padding-left:30px;
}

.ingredientes{
    li{
        list-style:none;
    }
}

.fotosReceta{
    grid-column:span 4;
    display:flex;
    justify-content:space-between;
}

.fotosReceta{
    img{
        width:200px;
        height:120px;
        border-radius:3%;
        margin:10px 20px 10px 0;
    }
}

.video{
    grid-column:span 2;
}

video {
   width:600px;
   height:360px;
}

.ingredientes{
    li{
        padding-top:10px;
    }
}

.videoHr {
    grid-column:span 4;
    border:1px solid $color-brand;
    background-color:$color-brand;
    margin:10px 0 40px;;
}

/* Contacto */
.formMap{
    display:flex;
    justify-content:space-evenly;
    padding:20px;
}

form {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-right:50px;
}

label {
    display:block;
    font-weight: bold;
}

input, textarea{
    border:1px solid $icon-magenta;
}

.buttons {
    padding:5px;
}

input[type="submit"] {
    background-color: $color-brand;
    color:$color-background;
    border-radius: 10%;
    padding:5px 20px;
}

input[type="reset"] {
    background-color: $color-bg-grey;
    color:$color-background;
    border:1px solid $color-bg-grey;
    border-radius: 10%;
    padding:5px 20px;
}

.cardContact {
    width:20%;
}

.sedes{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.sedes{
    h2{
        grid-column:span 2;
    }
}

.sedeMedellin, .sedeBogota {
    margin:30px;
    display:inline-block;
    margin:30px;
    text-align:center;
}

.sedes{
    p{
        text-align:center;
    }
}

.sedes{
    img{
        width: 350px;
        height:207px;
        border-radius:3%;
    }
}

.sedeHr{
    border:1px solid $color-brand;
    background-color:$color-brand;
    margin-left:0px;
}

//footer
@import "./partials/footer";

//media queries
@import "./partials/mediaQueries";