.ia__containerCheff{
    background-color: $color-bg-grey-white;
    box-shadow:3px 3px $color-bg-grey;
    margin:10px 20px;
    padding:20px 20px;
    border-radius:2%;
    @extend %flex_between;
    flex-direction: column;
    img{
        width:80%;
        height:56%;
        align-self:center;
        border-radius: 3%;
    }
    img, div{
        margin-bottom:10px;
    }
    &-row{
        justify-content: center;
    }
}

.ia__cheffsCards{
    @extend %flex_around;
    flex-wrap:wrap;
}

.ia__cardBody{
    ul{
        padding:0;
    }
}

.cheffFoto {
    @extend %flex_center;
    grid-row:span 2;
    padding:10px;
    width:210px;
    height:290px;
    img{
        border-radius:3%;
    }
}


.div1 {
    display:inline-block;
    margin-right:40px;
}

.active {
    color:$color-basic;
    font-weight:bold;
    list-style:none;
}

.inactive {
    color:$color-inactive;
}