.formMap{
    @include flexStructure(flex, space-evenly);
    padding:20px;
}

form {
    @include flexStructure(flex, space-between);
    flex-direction:column;
    padding-right:50px;
}

label {
    display:block;
    font-weight: bold;
}

input, textarea{
    border:1px solid $icon-magenta;
}

.buttons {
    padding:5px;
}

input[type="submit"] {
    @extend %button_style;
    background-color: $color-brand;
}

input[type="reset"] {
    @extend %button_style;
    background-color:$color-bg-grey;
    border:1px solid $color-bg-grey;
}

.cardContact {
    width:20%;
}

.sedes{
    display:grid;
    grid-template-columns:1fr 1fr;
    h2{
        grid-column:span 2;
    }
    p{
        text-align:center;
    }
}

.sedeMedellin, .sedeBogota {
    margin:30px;
    display:inline-block;
    margin:30px;
    text-align:center;
}

.sedes{
    img{
        @include dimensions(350px, 207px);
        border-radius:3%;
    }
}

.sedeHr{
    border:1px solid $color-brand;
    background-color:$color-brand;
    margin-left:0px;
}