/* Contacto */
.formMap{
    display:flex;
    justify-content:space-evenly;
    padding:20px;
}

form {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-right:50px;
}

label {
    display:block;
    font-weight: bold;
}

input, textarea{
    border:1px solid $icon-magenta;
}

.buttons {
    padding:5px;
}

input[type="submit"] {
    background-color: $color-brand;
    color:$color-background;
    border-radius: 10%;
    padding:5px 20px;
}

input[type="reset"] {
    background-color: $color-bg-grey;
    color:$color-background;
    border:1px solid $color-bg-grey;
    border-radius: 10%;
    padding:5px 20px;
}

.cardContact {
    width:20%;
}

.sedes{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.sedes{
    h2{
        grid-column:span 2;
    }
}

.sedeMedellin, .sedeBogota {
    margin:30px;
    display:inline-block;
    margin:30px;
    text-align:center;
}

.sedes{
    p{
        text-align:center;
    }
}

.sedes{
    img{
        width: 350px;
        height:207px;
        border-radius:3%;
    }
}

.sedeHr{
    border:1px solid $color-brand;
    background-color:$color-brand;
    margin-left:0px;
}