/*-----------------
HEADER
-----------------*/
header {
    z-index:1;
    position:sticky;
    top:0px;
    background-color:$color-background;
    font-weight:bold;
}


.container-fluid{
    a{
        display:flex;
        align-items:center;
    }
}

.container-fluid{
    ul{
        li{
            list-style:none;
        }
    }
}

.container-fluid{
    .ia__navMenu{
        justify-content:flex-end;
    }
}

.ia__navMenu{
    ul{
        display:flex;
        margin:0;
    }
}

.ia__navMenu{
    li{
        padding:0 20px;
        font-size:24px;
    }
}

.ia__blue {
    color:$color-brand;
}

.ia__headerHr {
    margin-top:10px;
    border:1px solid $color-basic;
}