header {
    z-index:1;
    position:sticky;
    top:0px;
    background-color:$color-background;
    font-weight:bold;
}

.container-fluid{
    .ia__navMenu{
        justify-content:flex-end;
        ul{
            display:flex;
            margin:0;
            li{
                padding:0 20px;
                font-size:24px;
            }
        }
    }
    a{
        @include flexStructure(flex, center);
    }
    ul{
        li{
            list-style:none;
        }
    }
}

.ia__blue {
    color:$color-brand;
}

.ia__headerHr {
    margin-top:10px;
    border:1px solid $color-basic;
}