main {
    padding:0px 20px;
}

.ia__carousel{
    overflow:hidden;
}

.ia__containerRestaurant{
    background-color: $color-bg-grey-white;
    box-shadow:3px 3px $color-bg-grey;
    margin-top:20px;
    padding:20px 20px;
    border-radius:2%;

    &-col1{
        @include flexStructure(flex, space-between);
        flex-direction: column;
        font-size:20px;
        div{
            padding-top:20px;
        }
        img{
            border-radius: 5%;
        }
    }

    &-reviews{
        p{
            display:inline-block;
            font-weight:bold;
            color:$color-reviews;
        }
    }

    &-col2{
        @include flexStructure(flex, space-between);
        flex-direction: column;
    }

    &-recomendados{
        div{
            @include flexStructure(flex, space-between);
            flex-wrap:wrap;
            img{
                @include dimensions(150px, 100px);
                border-radius:5%;
                margin:5px;
            }
        }
    }
}


.fa-star, .fa-star-half-stroke {
    color:$icon-star-full;
}

.fa-dollar-sign{
    font-weight:bold;
}

.full {
    color:$color-brand;
}

.empty {
    color:$color-inactive;
}

.fa-link{
    color:$color-web;
}

.fa-instagram {
    color:$color-instagram;
    font-weight: bold;
}

.fa-facebook {
    color:$color-fb;
}