@media screen and (max-width:1191px){
    .ia__containerRestaurant-recomendados img:last-child, .ia__containerRestaurant-recomendados img:first-child{
        display:none;
    }
}

@media screen and (max-width:767px){
    .ia__containerRestaurant{
        &-col2{
            order:-1;
            margin-bottom:20px;
        }
        &-recomendados{
            display:none;
        }
    }
}

@media screen and (max-width:1300px){
    video, .video{
        @include dimensions(500px, 250px);
    }
}

@media screen and (max-width:1130px){
    .dishes{
        img{
            @include dimensions(150px, 97.5px);
        }
    }

    .mainFoto {
        grid-row:1;
    }

    .rankingSocial{
        grid-column:span 5;
    }
}

@media screen and (max-width:1000px){
    header{
        grid-template-columns:10% 90%;
    }
}

@media screen and (max-width:991px){
    .ia__navMenu{
        ul{
            flex-direction: column;
            align-items:flex-end;
        }
    }
}

@media screen and (max-width:890px){
    .dishes, .fotosReceta{
        img:last-child{
            display:none;
        }
    }

    .sedes{
        img{
            @include dimensions(300px, 180px);
        }
    }

    .sedeFooter{
        font-size:10px;
    }
}

@media screen and (max-width:782px){
    header{
        nav{
            font-size:20px;
        }
    }
    
    .mainFoto{
        grid-column:span 4;
        justify-content: center;
        grid-row:2;
        img{
            @include dimensions(600px, 360px);
        }
    }

    .restaurantInfo{
        grid-column:span 4;
        grid-row:1;
    }

    .sedes{
        img{
            @include dimensions(250px, 150px);
        }
    }

    .dishes{
        img:nth-child(4){
            display:none;
        }
    }

    .textMagenta{
        display:none;
    }
}

@media screen and (max-width:720px){
    .mainFoto{
        img{
            @include dimensions(400px, 240px);
        }
    }

    video, .video{
        grid-column-start:2;
    }

    .ingredientes{
        display:none;
    }

    .fotosReceta{
        display:none;
    }
}

@media screen and (max-width:685px){
    header{
        nav{
            font-size:15px;
        }
    }

    .formMap{
        display:block;
    }
    
    iframe{
        @include dimensions(300px, 300px);
    }

    .sedes{
        display:block;
        text-align:center;
        img{
            @include dimensions(350px, 207px);
        }
    }
    .iconMagenta{
        font-size:50px;
    }    
}

@media screen and (max-width:600px){
    video, .video{
        @include dimensions(300px, 150px);
    }
    .cheffInfo{
        grid-column:span 4;
    }

    .cheffFoto{
        grid-column-start:2;
        grid-row:2;
    }

    .rankingSocial{
        div:last-child{
            display:none;
        }
    }

    .reviews{
        padding:10px 0;
    }

    .dishes{
        div{
            flex-direction:column;
            align-items:center;
            img{
                margin-top:10px;
                @include dimensions(400px, 240px);
            }
        }
    }
}

@media screen and (max-width:510px){
    .mainFoto, .dishes div{
        img{
            @include dimensions(300px, 180px);
        }
    }

    .restaurant{
        i{
            font-size:15px;
        }
    }
    
    .footerBlock{
        grid-column:span 3;
    }

    .sedes{
        img{
            @include dimensions(300px, 180px);
        }
    }
}

@media screen and (max-width:410px){
    .mainFoto, .dishes div, .sedes{
        img{
            @include dimensions(200px, 120px);
        }
    }

    iframe{
        @include dimensions(200px, 200px);
    }
    .copyright{
        font-size:10px;
    }

    .video, video{
        @include dimensions(200px, 150px);
    }
}