.receta{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    h2{
        grid-column:span 4;
    }
}

.ingredientes{
    padding-left:30px;
    li{
        list-style:none;
    }
}

.fotosReceta{
    @include flexStructure(flex, space-between);
    grid-column:span 4;
    img{
        @include dimensions(200px, 120px);
        border-radius:3%;
        margin:10px 20px 10px 0;
    }
}

.video{
    grid-column:span 2;
}

video {
    @include dimensions(600px, 360px);
}

.ingredientes{
    li{
        padding-top:10px;
    }
}

.videoHr {
    grid-column:span 4;
    border:1px solid $color-brand;
    background-color:$color-brand;
    margin:10px 0 40px;;
}