/* Recetas */
.receta{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.receta{
    h2{
        grid-column:span 4;
    }
}

.ingredientes{
    padding-left:30px;
}

.ingredientes{
    li{
        list-style:none;
    }
}

.fotosReceta{
    grid-column:span 4;
    display:flex;
    justify-content:space-between;
}

.fotosReceta{
    img{
        width:200px;
        height:120px;
        border-radius:3%;
        margin:10px 20px 10px 0;
    }
}

.video{
    grid-column:span 2;
}

video {
   width:600px;
   height:360px;
}

.ingredientes{
    li{
        padding-top:10px;
    }
}

.videoHr {
    grid-column:span 4;
    border:1px solid $color-brand;
    background-color:$color-brand;
    margin:10px 0 40px;;
}