$color-basic: black;
$color-background:white;
$color-brand:rgb(0, 153, 187);
$icon-magenta:rgb(0, 176, 216);
$icon-star-full:rgb(253, 226, 72);
$color-reviews:rgb(182, 134, 12);
$color-inactive:rgb(202, 202, 202);
$color-bg-grey:rgb(200, 200, 200);
$color-bg-grey-white:rgb(245, 245, 245);
$color-web:rgb(0,0,255);
$color-instagram:rgb(255,0,255);
$color-fb:rgb(10,100,255);
$color-golden:goldenrod;
